<nav class="navbar bg-body-tertiary fixed-top p-1 px-5 shadow-sm"
    style="position: sticky; background-color:white !important; scale:1.05; ">
    <div class="container-fluid">
        <div class="col-6" id="serachGroup">
            <form class=" input-group d-flex col-2" role="search">
                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
                    aria-describedby="button-SearchBtn">
                <button class="btn btn-light custom-border" type="button" id="button-SearchBtn">
                    <img src="/image/search.svg" alt="search" width="20px">
                </button>
            </form>
        </div>
        <div class="d-flex">
            <div class="btn btn-outline-light" id="getExcelFile">
                <?xml version="1.0" encoding="utf-8"?>
                <svg width="30px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <title>Get Excel File of all Students</title>
                    <path
                        d="M28.781,4.405H18.651V2.018L2,4.588V27.115l16.651,2.868V26.445H28.781A1.162,1.162,0,0,0,30,25.349V5.5A1.162,1.162,0,0,0,28.781,4.405Zm.16,21.126H18.617L18.6,23.642h2.487v-2.2H18.581l-.012-1.3h2.518v-2.2H18.55l-.012-1.3h2.549v-2.2H18.53v-1.3h2.557v-2.2H18.53v-1.3h2.557v-2.2H18.53v-2H28.941Z"
                        style="fill:#20744a;fill-rule:evenodd" />
                    <rect x="22.487" y="7.439" width="4.323" height="2.2" style="fill:#20744a" />
                    <rect x="22.487" y="10.94" width="4.323" height="2.2" style="fill:#20744a" />
                    <rect x="22.487" y="14.441" width="4.323" height="2.2" style="fill:#20744a" />
                    <rect x="22.487" y="17.942" width="4.323" height="2.2" style="fill:#20744a" />
                    <rect x="22.487" y="21.443" width="4.323" height="2.2" style="fill:#20744a" />
                    <polygon
                        points="6.347 10.673 8.493 10.55 9.842 14.259 11.436 10.397 13.582 10.274 10.976 15.54 13.582 20.819 11.313 20.666 9.781 16.642 8.248 20.513 6.163 20.329 8.585 15.666 6.347 10.673"
                        style="fill:#ffffff;fill-rule:evenodd" />
                </svg>
            </div>
            <div class="dropdown mx-2">
                <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="25px" height="25px"
                        fill="#3182ce">
                        <path
                            d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM504 312l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                    </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="/register">Add Student</a></li>
                    <li><a class="dropdown-item" href="#">Upload Excel</a></li>
                </ul>
            </div>

            <div class="dropdown mx-2">
                <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="25px" height="25px">
                        <path fill="#3182ce"
                            d="M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416l400 0c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4l0-25.4c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm0 96c61.9 0 112 50.1 112 112l0 25.4c0 47.9 13.9 94.6 39.7 134.6L72.3 368C98.1 328 112 281.3 112 233.4l0-25.4c0-61.9 50.1-112 112-112zm64 352l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z" />
                    </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="/register">Message Box</a></li>
                    <li><a class="dropdown-item" href="#">Message Box</a></li>
                </ul>
            </div>

            <div class="dropdown mx-2">
                <button class="btn btn-outline-light p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                    <svg width="38px" height="38px" viewBox="0 2 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4"
                            d="M12 22.01C17.5228 22.01 22 17.5329 22 12.01C22 6.48716 17.5228 2.01001 12 2.01001C6.47715 2.01001 2 6.48716 2 12.01C2 17.5329 6.47715 22.01 12 22.01Z"
                            fill="#292D32" />
                        <path
                            d="M12 6.93994C9.93 6.93994 8.25 8.61994 8.25 10.6899C8.25 12.7199 9.84 14.3699 11.95 14.4299C11.98 14.4299 12.02 14.4299 12.04 14.4299C12.06 14.4299 12.09 14.4299 12.11 14.4299C12.12 14.4299 12.13 14.4299 12.13 14.4299C14.15 14.3599 15.74 12.7199 15.75 10.6899C15.75 8.61994 14.07 6.93994 12 6.93994Z"
                            fill="#292D32" />
                        <path
                            d="M18.7807 19.36C17.0007 21 14.6207 22.01 12.0007 22.01C9.3807 22.01 7.0007 21 5.2207 19.36C5.4607 18.45 6.1107 17.62 7.0607 16.98C9.7907 15.16 14.2307 15.16 16.9407 16.98C17.9007 17.62 18.5407 18.45 18.7807 19.36Z"
                            fill="#292D32" />
                    </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="/account">Account</a></li>
                    <li><a class="dropdown-item" href="#">help</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/student.js"></script>
</nav>