.rightLogin {
    width: 70%;
    min-height: 100vh;
}

.leftLogin {
    width: 30%;
    min-height: 100vh;
    background-color: #ebf8ff;
    color: rgb(43 108 176);
}

@media screen and (max-width: 800px) {
    .leftLogin {
        display: none !important;
    }

    .rightLogin {
        width: 100% !important;
    }

    #customNav {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    #customNav {
        display: none;
    }
}